// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
// Colors
$body-color: #363535;
$light-copy: #5A5A5A;
$body-bg: #F2F2F2;
$white: #ffffff;
$light-green:#D6FFCF;
$green: #45C62F;
$green-border:#349423;
$light-orange: #FFE09B;
$orange: #FFC33E;
$orange-border: #BD912F;
$hover-yellow: #F3FF54;
$red: #E90030;
$red-border: #9D0222;
$grey-border: #D4D0D0;
$light-grey: #D8D8D8;
$link-blue: #2C73EB;
$placeholder: #BABABA;
$pink: #FBC5D0;
$pink-boder: #F7AEBD;