// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
// Colors
$body-color: #363535;
$body-bg: #F2F2F2;
$white: #ffffff;
$green: #45C62F;
$green-border:#349423;
$orange: #FFC33E;
$red: #E90030;
$red-border: #9D0222;
$grey-border: #D4D0D0;
$light-grey: #D8D8D8;
$link-blue: #2C73EB;
$placeholder: #BABABA;